.button{
    border:  none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    margin: 3px 10px;
    color: red;
    transition: all 1s;
    padding: 1rem 2rem;
}



.button.active {
    background: blueviolet;
    color: white;
}