@import url('https://fonts.google.com/share?selection.family=Jaro:opsz@6..72');


body{
  font-family: 'Jaro', sans-serif;
}

header{
  height: 50px;
  display: flex;
  padding: 0.2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}

section ul {
  list-style: none;
}

section ul li {
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid gray;;
}